<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Edit Employee</h1>

    <form action="{{ url_for('update', id=employee[0]) }}" method="POST" class="form-box">
        <input type="text" name="name" value="{{ employee[1] }}" placeholder="Enter Name" required>

        <input type="number" name="emp_id" value="{{ employee[2] }}" placeholder="Enter Employee ID" required>

        <input type="number" name="salary" value="{{ employee[3] }}" placeholder="Enter Salary" required>

        <input type="number" name="phone_number" value="{{ employee[4] }}" placeholder="Enter Phone Number" required>

        <button type="submit">Update Employee</button>
    </form>

    <br>

    <a href="/">Back to Home</a>
</div>

</body>
</html>
